@tailwind base;
@tailwind components;
@tailwind utilities;


.font-nasin-nanpa {
  font-family: 'nasin-nanpa', sans-serif;
}

.font-linja-pona {
  font-family: 'linja pona', sans-serif;
}

.font-sitelen-pona-pona {
  font-family: 'sitelen-pona', sans-serif;
}

.font-custom {
  font-family: 'CustomFont', sans-serif;
}

.font-fairfax-pona-hd {
  font-family: 'Fairfax Pona HD', sans-serif;
}

.word-hint-container {
  word-spacing: 0.25em; /* Adjust as needed */
}

.word-hint-container:hover {
  cursor: pointer;
  /* text-decoration: underline; */
}

.text-size-base {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem;
}

.sitelen-pona {
  font-size: 1.75rem; /* 28px */
  line-height: 2.25rem;
}
